PORT=
MONGODB=
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_SECRET_ID=
CLOUDINARY_URL=
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=

MAIL_FROM_NAME=
MAIL_HOST=
MAIL_PASSWORD=
MAIL_PORT=
MAIL_RECIPIENTS=
MAIL_USERNAME=

SMTP2GO_FROM_NAME=
SMTP2GO_HOST=
SMTP2GO_PASSWORD=
SMTP2GO_PORT=
SMTP2GO_USERNAME=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

REDIS_URL=
OPENAI_API_KEY=
OPENAI_MODEL=
CONVO_TTL=
RATE_LIMIT_WINDOW_MS=
RATE_LIMIT_MAX=
CONVO_MAX_MESSAGES=