PORT=3001
MONGODB=
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_SECRET_ID=
CLOUDINARY_URL=
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=
MAIL_FROM_NAME=
MAIL_HOST=
MAIL_PASSWORD=
MAIL_PORT=
MAIL_RECIPIENTS=
MAIL_USERNAME=